@import url('https://fonts.googleapis.com/css?family=Raleway');
body{padding:3em;color:white;background:#2e9ce6;font-family:'Raleway','Arial';}
ul{list-style:none;padding:0;margin:0 0 2em 0;}
ul li{
display:inline;margin-right:30px;
}
a{font-size:1.5em;}
ul li a{
color:white;
text-decoration:none;
}