.container{
display:grid;
grid-template-columns:50% auto;
}
.dark-color{
background:#2885c4;
}
.light-color{
background:#57B3F1;
}
.col{padding:.4em 1.3em;}
input.txt{
	border:0;
	padding:1em;
	width:80%;
	margin-bottom:2em;
}
input.btn{
	border:0;
	padding:1em 3em;
	display:block;
	margin-bottom:1em;
	background:#A5f883;
	color:#003a61;
	cursor:pointer;
}
.life-container{
	font-weight:bold;
	cursor:pointer;
	padding:.5em;
	background:#3fa0e1;
}
